@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

* {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  box-shadow: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.Container {
  padding-top: 100px;
  height: 2000px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}

:root {
  --color-primary: theme("colors.primary");
  --color-disable: theme("colors.disable");
  --color-background: theme("colors.background");
}
