.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
}

.pagination li.active button {
  background-color: #007bff;
  color: white;
}