.Button {
  border-radius: 50px;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-weight: bold;
}

.Button_PRIMARY {
  background-color: #764fe1;
  color: #fff;
}
.Button_FOCUSED {
  background-color: #fff;
  border: 1px solid #764fe1;
  color: #000;
}
.Button_DISABLED {
  background-color: #d1d1d1;
  color: #fff;
}
