.Card {
  width: 100%;
  height: 400px; /* 세로로 길어지도록 높이 추가 */
  border: 1px solid #ddd;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Card:nth-child(3n) {
  margin-right: 0;
}
.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.Image {
  position: relative;
}
.Image img {
  width: 100%;
  height: auto;
  display: block;
}
.Likes {
  position: absolute;
  color: #fff;
  bottom: 10px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.Likes svg {
  margin-right: 5px;
}
.Text {
  padding: 1em;
  background-color: #fff;
}
.Title h3 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}
.Description {
  font-size: 1em;
  color: #666;
  margin-top: 0.5em;
}
.Title span {
  font-size: 0.875em;
  color: #999;
  display: block;
  margin-top: 0.5em;
}
