.LoginInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.LoginInput .idpw {
  width: 350px;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: rgb(230, 230, 230);
}

.LoginInput button {
  padding: 10px;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  background-color: #764fe1;
}

.LoginInput a {
  text-align: left;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 18px;
}
